{% extends "base.html" %}
{% set active_page = "dashboards" %}


{% block page_title %} - Dashboards{% endblock page_title %}

{% block content %}
    <div class="container">
      <div class="row" id="search">
        <div class="span12">
          <form class="form-search pull-right">
            <input type="text" class="input-big search-query" placeholder="Zoektermen...">
            <button type="submit" class="btn">
               <i class="icon-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock content %}